:root {
  --header-footer-bg: #1E2939;
  --main-bg: #0A0F1F;
  --primary: #1b45c9;
  --section-height: calc(100vh - 85px);
  --grey-text: #A5B4C7;
  --icon-bg: #1A2433;
  --card-bg:#111a2a;
  --line:#2a364a; 
  --text:#ffffff;
  --muted:#9aa6b2; 
}

* {
  box-sizing: border-box;
}
html { 
  scroll-behavior: smooth; 
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

h2, h3 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.side-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  display: flex;
  align-items: center;
}

#home,
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 90px; 
}

.highlight-primary {
    color: var(--primary);
}
